@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Zak Schaefer</h1>
    <p class="lead">Welcome to my website! Have a look around and feel free to explore some information about me.</p>    
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Past</h2>
        <p>
            I am from Mentor, Ohio. I am the middle child of three brothers. I have two dogs: a beagle and a lab. I enjoy golfing in my spare time and hanging out with friends.
        </p>
    </div>
    <div class="col-md-3">
        <h2>Present</h2>
        <p>I am a senior in the College of Business at Ohio University. I am studying Marketing and Management Information Systems. I plan on graduating in May of this year with my bachelors of business administration. I am in Alpha Kappa Psi and the Schey sales center.</p>
    </div>
    <div class="col-md-3">
        <h2>Future</h2>
        <p>After graduating in May, I will be joining KPMG as a GRC Oracle Consultant in Columbus, Ohio! I am super excited for the opportunity.</p>
    </div>
    <div class="col-md-3">
        <h2>Links</h2>
        <p>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Instructors", "Index", "Instructors")</li>
            <li>@Html.ActionLink("Students", "Index", "Students")</li>
            <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
            <li>@Html.ActionLink("Course Details", "Index", "CourseDetails")</li>
        </p>
    </div>
</div>